@using LanAdeptCore.HtmlExtension
@using LanAdeptCore.Service

@{
	bool isTeamLeader = LanAdeptCore.Service.UserService.IsTeamLeader();
	int nbDemandes = 0;
	int nbTeams = 0;
    if (isTeamLeader)
	{
		nbDemandes = LanAdeptCore.Service.UserService.GetNbTeamDemand();
		nbTeams = LanAdeptCore.Service.UserService.GetNbTeams();
	}
}

<!DOCTYPE html>
<html moznomarginboxes="" mozdisallowselectionprint="">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewBag.Title - LAN de l'ADEPT</title>

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="LAN Adept">
	<link rel="apple-touch-icon" sizes="57x57" href="/Image/Favicon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/Image/Favicon/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/Image/Favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/Image/Favicon/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/Image/Favicon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/Image/Favicon/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/Image/Favicon/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/Image/Favicon/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/Image/Favicon/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/Image/Favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/Image/Favicon/favicon-194x194.png" sizes="194x194">
	<link rel="icon" type="image/png" href="/Image/Favicon/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/Image/Favicon/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/Image/Favicon/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/Image/Favicon/manifest.json">
	<link rel="shortcut icon" href="/Image/Favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#2780e3">
	<meta name="msapplication-TileImage" content="/Image/Favicon/mstile-144x144.png">
	<meta name="msapplication-config" content="/Image/Favicon/browserconfig.xml">
	<meta name="theme-color" content="#2780e3">


	@Styles.Render("~/Content/css")
	@RenderSection("Styles", false)
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("LAN de l'ADEPT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					@Html.ListItemAction("Places", "Liste", "Place")
					@Html.ListItemCategory("Tournois", "Index", "Tournament")
					@Html.ListItemAction("À propos", "About", "Home")
				</ul>
				<ul class="nav navbar-nav navbar-right">
					@Html.ListItemAction("Connexion", "Login", "Auth", new { ReturnUrl = Request.Url.AbsolutePath })

					@if (UserService.IsUserLoggedIn())
					{
						<li class="dropdown">
							<a class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								@UserService.GetLoggedInUser().CompleteName
								@if (isTeamLeader && nbDemandes > 0)
								{
									<span class="label label-danger">@nbDemandes</span>
								}
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								@if (isTeamLeader)
								{
									<li class="dropdown-header">Tournois</li>
									<li>
										<a href="@Url.Action("Index", "Team")" class="hidden-sm">
											@if (nbTeams > 1)
											{
												<span>Mes équipes</span>
											}
											else if (nbTeams == 1)
											{
												<span>Mon équipe</span>
											}
											@if (nbDemandes > 0)
											{
												<span class="label label-danger">@nbDemandes</span>
											}
										</a>
									</li>
									<li role="separator" class="divider"></li>
								}

								@if (ReservationService.HasUserPlace())
								{
									@Html.ListItemAction("Ma place", "MaPlace", "Place")
								}
								@Html.ListItemAction("Mon profil", "Index", "User")
								<li role="separator" class="divider"></li>
								@Html.ListItemAction("Déconnexion", "Logout", "Auth")
							</ul>
						</li>
					}
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p class="small text-center">&copy; @DateTime.Now.Year - ADEPT Informatique</p>
		</footer>
	</div>

	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
			m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-32262555-4', 'auto');
		ga('send', 'pageview');

	</script>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
