@model LanAdept.Views.Teams.ModelController.DetailsModel

@{
	bool isConnected = LanAdeptCore.Service.UserService.IsUserLoggedIn();
	bool IsTeamLeader = LanAdeptCore.Service.UserService.IsTeamLeader();
	ViewBag.Title = "Équipe " + Model.Name;
}

<div class="page-header clearfix">
	<h1>
		@(String.IsNullOrWhiteSpace(Model.Tag) ? "" : "[" + Model.Tag + "]")
		@Model.Name

		<div class="pull-right">
			@Html.ActionLink("Supprimer l'équipe", "Delete", new { id = Model.TeamID }, new { @class = "btn btn-danger" })
		</div>
	</h1>

</div>

<h3>
	Joueurs
</h3>

<div class="table-responsive">
	<table class="table table-striped" style="max-width: 700px;">
		<thead>
			<tr>
				<th>Gamertag</th>
				<th>Nom complet</th>
				<th></th>
			</tr>
		</thead>

		@foreach (GamerTag gamerTag in Model.GamerTags)
		{
			<tr>
				<td>
					@gamerTag.Gamertag
					@if (Model.TeamLeaderTag == gamerTag)
					{
						<span class="glyphicon glyphicon-star"></span>
					}
				</td>
				<td>
					@gamerTag.User.CompleteName
				</td>
				<td>
					@if (gamerTag != Model.TeamLeaderTag && !Model.Tournament.IsOver && !Model.Tournament.IsStarted)
					{
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#kickModal">Retirer</button>

						<div class="modal fade" id="kickModal" role="dialog">
							<div class="modal-dialog">
								<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Retirer joueur</h4>
									</div>
									<div class="modal-body">
										<p>Voulez-vous vraiment retirer @gamerTag.Gamertag</p>
									</div>
									<div class="modal-footer">
										@Html.ActionLink("Oui", "KickPlayer", new { gamerTagId = gamerTag.GamerTagID, id = Model.TeamID }, new { @class = "btn btn-success" })
										<button type="button" class="btn btn-danger" data-dismiss="modal">Non</button>
									</div>
								</div>
							</div>
						</div>
					}
				</td>
			</tr>
		}
	</table>
</div>

<h4>
	Demandes
</h4>

@if (Model.Demandes.Count() >= 1)
{
	<div class="table-responsive table-hover">
		<table class="table">
			<thead>
				<tr>
					<th>Nom</th>
					<th>GamerTag</th>
					<th></th>
				</tr>
			</thead>

			@foreach (Demande demande in Model.Demandes)
			{
				<tr>
					<td>
						@demande.GamerTag.User.CompleteName
					</td>
					<td>
						@demande.GamerTag.Gamertag
					</td>
					<td class="col-md-3">
						@Html.ActionLink("Accepter", "AcceptTeamMember", new { gamerTagId = demande.GamerTag.GamerTagID, id = Model.TeamID }, new { @class = "btn btn-success" })
						@Html.ActionLink("Refuser", "RefuseTeamMember", new { gamerTagId = demande.GamerTag.GamerTagID, id = Model.TeamID }, new { @class = "btn btn-danger" })
					</td>
				</tr>
			}
		</table>
	</div>
}
else
{
	<em class="small">
		Il n'y a aucune demande pour rejoindre votre équipe pour le moment
	</em>
}
