@using LanAdeptData.Model.Tournaments
@using LanAdept.Views.Teams.ModelController
@using LanAdeptCore.Service
@model DetailsModel

@{
	bool isConnected = UserService.IsUserLoggedIn();
	bool IsTeamLeader = UserService.IsTeamLeader();
	ViewBag.Title = "Équipe " + Model.Name;
}

@Html.Partial("ConfirmationModal",
	new ModalModel()
	{
		Id = "promoteModal",
		Title = "Promouvoir un joueur",
		Body = "Voulez-vous vraiment promouvoir au rôle de team leader le joueur \" <span id=\"modal-gamertag\"></span> \"?",
		BtnStyle = "success",
		BtnText = "Promouvoir"
	})
@Html.Partial("ConfirmationModal",
	new ModalModel()
	{
		Id = "kickModal",
		Title = "Exclure un joueur",
		Body = "Voulez-vous vraiment exclure le joueur \" <span id=\"modal-gamertag\"></span> \"?",
		BtnStyle = "danger",
		BtnText = "Exclure"
	})

@Html.Partial("ConfirmationModal",
	new ModalModel()
	{
		Id = "deleteModal",
		Title = "Supprimer l'équipe",
		Body = "Voulez-vous vraiment supprimer votre équipe \" <span id=\"modal-teamName\"></span> \"?",
		BtnStyle = "danger",
		BtnText = "Supprimer"
	})

<div class="page-header clearfix">
	<h1>
		<span class="text-muted">
			@(String.IsNullOrWhiteSpace(Model.Tag) ? "" : "[" + Model.Tag + "]")
		</span>
		@Html.DisplayFor(model => model.Name)
		<span class="pull-right">
			<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
				Supprimer l'équipe
			</button>
		</span>
	</h1>

</div>
<div class="row">
	<div class="col-lg-6">
		<h3>
			Joueurs
		</h3>

		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Gamertag</th>
						<th>Nom complet</th>
						<th></th>
					</tr>
				</thead>

				@foreach (GamerTag gamerTag in Model.GamerTags)
				{
					<tr>
						<td>
							@gamerTag.Gamertag
							@if (Model.TeamLeaderTag == gamerTag)
							{
								<span class="glyphicon glyphicon-star"></span>
							}
						</td>
						<td>
							@gamerTag.User.CompleteName
						</td>
						<td class="text-right">
							@if (gamerTag != Model.TeamLeaderTag && !Model.Tournament.IsOver && !Model.Tournament.IsStarted)
							{
								<button type="button" class="btn btn-success" data-toggle="modal" data-target="#promoteModal" data-gamertag="@gamerTag.Gamertag" data-gamertag-id="@gamerTag.GamerTagID" title="Promouvoir au rôle de team leader">
									<span class="glyphicon glyphicon-star"></span> Promouvoir
								</button>
								<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#kickModal" data-gamertag="@gamerTag.Gamertag" data-gamertag-id="@gamerTag.GamerTagID" title="Exclure le joueur de l'équipe">
									Exclure
								</button>
							}
						</td>
					</tr>
				}
			</table>
		</div>
	</div>

	<div class="col-lg-6">
		<h3>
			Demandes
		</h3>

		@if (Model.Demandes.Count() >= 1)
			{
			<div class="table-responsive table-hover">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nom</th>
							<th>GamerTag</th>
							<th></th>
						</tr>
					</thead>

					@foreach (Demande demande in Model.Demandes)
					{
						<tr>
							<td>
								@demande.GamerTag.User.CompleteName
							</td>
							<td>
								@demande.GamerTag.Gamertag
							</td>
							<td class="text-right">
								@Html.ActionLink("Accepter", "AcceptTeamMember", new { gamerTagId = demande.GamerTag.GamerTagID, id = Model.TeamID }, new { @class = "btn btn-success" })
								@Html.ActionLink("Refuser", "RefuseTeamMember", new { gamerTagId = demande.GamerTag.GamerTagID, id = Model.TeamID }, new { @class = "btn btn-danger" })
							</td>
						</tr>
					}
				</table>
			</div>
			}
			else
			{
			<br />
			<em class="small">
				Il n'y a aucune demande pour rejoindre votre équipe pour le moment
			</em>
			}
	</div>
</div>

@section Scripts {
	<script>
		$('#kickModal').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget);
			var gamertagId = button.data('gamertagId');
			var gamertag = button.data('gamertag');

			var modal = $(this);
			modal.find('#modal-gamertag').text(gamertag);
			modal.find('#modal-link').attr("href", "@Url.Action("KickPlayer", "Team", new { Id = Model.TeamID })" + "/?gamerTagId=" + gamertagId)
		});

		$('#promoteModal').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget);
			var gamertagId = button.data('gamertagId');
			var gamertag = button.data('gamertag');

			var modal = $(this);
			modal.find('#modal-gamertag').text(gamertag);
			modal.find('#modal-link').attr("href", "@Url.Action("PromotePlayer", "Team", new { Id = Model.TeamID })" + "/?gamerTagId=" + gamertagId)
		});

		$('#deleteModal').on('show.bs.modal', function (event) {
			var modal = $(this);
			modal.find('#modal-teamName').text("@Model.Name");
			modal.find('#modal-link').attr("href", "@Url.Action("Delete", new { Id = Model.TeamID })")
		});
	</script>
}