@using LanAdept.Models;
@model IndexTeamModel

@{
	ViewBag.Title = "Mes équipes";
}

<h2>Mes équipes</h2>

<div>
	<table class="table table-hover table-responsive">

		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Teams.First().Team.Name)
				</th>
				<th class="text-center">
					Nombre de joueurs inscrits
				</th>
				<th class="text-center">
					Nombre de demandes
				</th>
				<th></th>
			</tr>
		</thead>

		@foreach (TeamDemandeModel team in Model.Teams)
		{
			<tr @("class=clickable-row data-row-url=" + Url.Action("Details", "Team", new { id = team.Team.TeamID }))>
				<td>
					@if (!String.IsNullOrEmpty(team.Team.Tag))
					{
						<span class="text-muted">[@Html.DisplayFor(model => team.Team.Tag)]</span>
					}
					@Html.DisplayFor(modelItem => team.Team.Name)
				</td>
				<td class="text-center">
					@team.Team.GamerTags.Count / @Html.DisplayFor(model => team.Team.Tournament.MaxPlayerPerTeam)
				</td>
				<td class="text-center">
					@if (team.Demandes == null)
					{
						<text>0</text>
					}
					else
					{
						@team.Demandes.Count
					}

				</td>
				<td>
					@if (team.Team.IsConfirmed)
					{
						<span class="label label-success">
							Confirmé
						</span>
					}
					else
					{
						<span class="label label-danger">
							Non Confirmé
						</span>
					}
				</td>
			</tr>
		}
	</table>
</div>

@section Scripts {
	@Scripts.Render("~/Scripts/general.js")
}

@section Styles {
	@Styles.Render("~/Content/Tournois.css")
}
