@model LanAdeptAdmin.Models.RulesModel

@{
	ViewBag.Title = "Règlements";
	ViewBag.Sidebar = "_Sidebar_General";
}

<div class="page-header clearfix">
	<h2>Règlements</h2>
</div>

<p class="help-block">
	Les règlements sont affiché dans la page « À propos » ainsi que lorsque l'utilisateur s'inscrit sur le site.
</p>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		@Html.EditorFor(model => model.Rules, new { htmlAttributes = new { @class = "form-control", style = "height:400px;" } })
		@Html.ValidationMessageFor(model => model.Rules, "", new { @class = "text-danger" })
		<br />
		<input type="submit" value="Enregistrer" class="btn btn-primary pull-right" />
	</div>
}
<h2>Prévisualisation:</h2>
<pre id="prev">
	@Html.Markdown(Model.Rules)
</pre>

@section Scripts {
	@Scripts.Render("~/bundles/markdown")

	<script>
		$(function () {

			var markdown = new MarkdownDeep.Markdown();
			markdown.ExtraMode = true;
			markdown.SafeMode = false;

			$("#Rules").keyup(function () {
				$("#prev").html(markdown.Transform($("#Rules").val()));
			});
		});
	</script>
}
