@model LanAdeptAdmin.Views.General.ModelController.SettingsModel

@{
	ViewBag.Title = "Settings";
	ViewBag.Sidebar = "_Sidebar_General";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">

		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.SettingId)

		@if (!string.IsNullOrWhiteSpace(TempData["Success"] as string))
		{
			<div class="form-group">
				<div class="col-md-5 col-md-push-3">
					<div class="alert alert-success" role="alert" style="margin-bottom:0;">
						@Html.Raw(TempData["Success"])
					</div>
				</div>
			</div>
		}

		<div class="form-group">
			@Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-3" })
			<div class="col-md-5">
				<div class='input-group date' id='datetimepickerStart'>
					@Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
				@Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-3" })
			<div class="col-md-5">
				<div class='input-group date' id='datetimepickerEnd'>
					@Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
				@Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-5 col-lg-push-3">
				<div class="checkbox">
					@Html.EditorFor(model => model.SendRememberEmail, new { htmlAttributes = new { style = "margin-left:0;" } })
					@Html.LabelFor(model => model.SendRememberEmail)
					@Html.ValidationMessageFor(model => model.SendRememberEmail, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.NbDaysBeforeRemember, htmlAttributes: new { @class = "control-label col-md-3" })
			<div class="col-md-5">
				@Html.EditorFor(model => model.NbDaysBeforeRemember, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.NbDaysBeforeRemember, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-3 col-md-5">
				<input type="submit" value="Enregistrer" class="btn btn-primary pull-right" />
			</div>
		</div>
	</div>
}


@section scripts {
	<script>
		$(function () {
			$('#datetimepickerStart, #datetimepickerEnd').datetimepicker({
				locale: 'fr-ca'
			});

			$("#datetimepickerStart").on("dp.change", function (e) {
				$('#datetimepickerEnd').data("DateTimePicker").minDate(e.date);
			});
			$("#datetimepickerEnd").on("dp.change", function (e) {
				$('#datetimepickerStart').data("DateTimePicker").maxDate(e.date);
			});

			$('#datetimepickerEnd').data("DateTimePicker").minDate($('#StartDate').val());
			$('#datetimepickerStart').data("DateTimePicker").maxDate($('#EndDate').val());
		});
	</script>
}