@model LanAdept.Views.User.ModelController.ChangePasswordModel

@{
	ViewBag.Title = "Modifier mon mot de passe";
}

<div class="page-header clearfix">
	<h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
	@Html.AntiForgeryToken()

	<div class="form-group">
		@Html.LabelFor(m => m.OldPassword, new { @class = "col-sm-5 col-md-4 col-lg-3 control-label" })
		<div class="col-sm-7 col-md-6">
			@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(m => m.NewPassword, new { @class = "col-sm-5 col-md-4 col-lg-3 control-label" })
		<div class="col-sm-7 col-md-6">
			@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
		</div>
	</div>

		<div class="form-group">
			@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-5 col-md-4 col-lg-3 control-label" })
			<div class="col-sm-7 col-md-6">
				@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-5 col-md-offset-4 col-lg-offset-3 col-sm-7 col-md-6 text-right">
				@Html.ActionLink("Annuler", "Index", null, new { @class = "btn btn-default" })
				<input type="submit" value="Changer" class="btn btn-primary" />
			</div>
		</div>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
