@using LanAdeptCore.HtmlExtension;

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Admin Lan Adept</title>

	<meta name="robots" content="noindex, nofollow">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="Admin LAN">
	<link rel="apple-touch-icon" sizes="57x57" href="/Images/Favicon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/Images/Favicon/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/Images/Favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/Images/Favicon/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/Images/Favicon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/Images/Favicon/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/Images/Favicon/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/Images/Favicon/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/Images/Favicon/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/Images/Favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/Images/Favicon/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/Images/Favicon/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/Images/Favicon/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/Images/Favicon/manifest.json">
	<link rel="shortcut icon" href="/Images/Favicon/favicon.ico">
	<meta name="apple-mobile-web-app-title" content="Admin LAN">
	<meta name="application-name" content="Admin LAN">
	<meta name="msapplication-TileColor" content="#b40e0e">
	<meta name="msapplication-TileImage" content="/Images/Favicon/mstile-144x144.png">
	<meta name="msapplication-config" content="/Images/Favicon/browserconfig.xml">
	<meta name="theme-color" content="#D91E18">

	@Styles.Render("~/Content/css")
	@RenderSection("Styles", false)
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	@if (ViewBag.HideMenu == null || !ViewBag.HideMenu)
	{
		<div class="navmenu navmenu-inverse navmenu-fixed-left offcanvas" id="myNavmenu">
			@Html.Partial("_Sidebar_Mobile")
		</div>
	}

	<div class="navbar navbar-inverse navbar-fixed-top">
		@if (ViewBag.HideMenu == null || !ViewBag.HideMenu)
		{
			<div class="navbar-center navbar-brand">
				@Html.ActionLink("Admin Lan Adept", "Index", "Home", null, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-header navbar-left">
				<button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body" data-auto-hide="false">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					@Html.ListItemCategory("Général", "Index", "General")
					@Html.ListItemCategory("Utilisateurs", "Index", "User")
					@Html.ListItemCategory("Places", "Index", "Place")
					@Html.ListItemCategory("Jeux", "Index", "Game")
					@Html.ListItemCategory("Tournois", "Index", "Tournaments")
				</ul>
				<ul class="nav navbar-nav navbar-right" style="margin-right:15px;">
					@Html.ListItemCategory("Déconnexion", "Logout", "Auth")
				</ul>
			</div>

			if (!String.IsNullOrWhiteSpace(ViewBag.SideBar))
			{
				<div class="col-sm-3 col-lg-2 sidebar">
					<ul class="nav nav-sidebar">
						@Html.Partial((string)ViewBag.SideBar)
					</ul>
				</div>
            }
        }
        else
        {
            //We should always display logout button if the user is logged in
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" style="margin-right:15px;">
                    @Html.ListItemCategory("Déconnexion", "Logout", "Auth")
                </ul>
            </div>
        }
	</div>

	<div class="@(String.IsNullOrWhiteSpace(ViewBag.SideBar) ? "col-xs-12" : "col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2") main">
		@RenderBody()
		<hr />
		<footer>
			<p class="small text-center">&copy; @DateTime.Now.Year - ADEPT Informatique</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("Scripts", required: false)
</body>
</html>
