@using LanAdeptCore.HtmlExtension;

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - LAN de l'Adept - Admin</title>
	@Styles.Render("~/Content/css")
	@RenderSection("Styles", false)
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("LAN de l'ADEPT - Admin", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					@Html.ListItemAction("Accueil", "Index", "Home")
					@Html.ListItemAction("Games", "Index", "Games")
					@Html.ListItemAction("Tournaments", "Index", "Tournaments")
				</ul>
				<ul class="nav navbar-nav navbar-right">
					@Html.ListItemAction("Connexion", "Login", "Auth")
					@Html.ListItemAction("Inscription", "Register", "Auth")


					@if (LanAdeptCore.Service.PlaceService.HasUserPlace())
					{
						@Html.ListItemAction("Ma place", "MaPlace", "Place")
					}
					@Html.ListItemAction("Déconnexion", "Logout", "Auth")
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p class="small">&copy; @DateTime.Now.Year - Adept - Christophe Gagnier et Charles Giguère</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
