@Html.ActionLink("Admin Options", "Index", "Home", new { @class = "navmenu-brand" })

<ul class="nav navmenu-nav">
	@if (Html.HasActionPermission("Index", "General"))
	{
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Général <b class="caret"></b></a>
			<ul class="dropdown-menu navmenu-nav">
				@Html.Partial("_Sidebar_General")
			</ul>
		</li>
	}

	@if (Html.HasActionPermission("Index", "User"))
	{
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Utilisateurs <b class="caret"></b></a>
			<ul class="dropdown-menu navmenu-nav">
				@Html.Partial("_Sidebar_User")
			</ul>
		</li>
	}

	@if (Html.HasActionPermission("Index", "Place"))
	{
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Places <b class="caret"></b></a>
			<ul class="dropdown-menu navmenu-nav">
				@Html.Partial("_Sidebar_Place")
			</ul>
		</li>
	}
	@if (Html.HasActionPermission("Index", "Game"))
	{
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Jeux <b class="caret"></b></a>
			<ul class="dropdown-menu navmenu-nav">
				@Html.Partial("_Sidebar_Game")
			</ul>
		</li>
	}
	@if (Html.HasActionPermission("Index", "Tournaments"))
	{
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Tournois <b class="caret"></b></a>
			<ul class="dropdown-menu navmenu-nav">
				@Html.Partial("_Sidebar_Tournament")
			</ul>
		</li>
	}
	<li role="separator" class="nav-divider divider"></li>

	@Html.ListItemCategory("Connexion", "Login", "Auth")
	@Html.ListItemCategory("Déconnexion", "Logout", "Auth")

</ul>
