@model  LanAdeptAdmin.Views.Tournaments.ModelController.TournamentModel

@{
	ViewBag.Title = "Ajouter un tournoi";
	ViewBag.Sidebar = "_Sidebar_Tournament";
}

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })

		<div class="form-group">
			@Html.LabelFor(model => model.Game, htmlAttributes: new { @class = "control-label col-md-3" })
			<div class="col-md-5">
				@Html.DropDownList("GameID", null, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Game.GameID, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-3" })
			<div class="col-md-5">
				@Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.MaxPlayerPerTeam, htmlAttributes: new { @class = "control-label col-md-3" })
			<div class="col-md-5">
				@Html.EditorFor(model => model.MaxPlayerPerTeam, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.MaxPlayerPerTeam, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-3 col-md-5 text-right">
				<input type="submit" value="Ajouter" class="btn btn-primary" />
			</div>
		</div>
	</div>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}