@using LanAdeptAdmin.Views.Tournaments.ModelController
@model TeamModel

@{
	ViewBag.Title = Model.Name;
	ViewBag.Sidebar = "_Sidebar_Tournament";
}

@if (TempData["ErrorMessage"] != null)
{
	<div class="alert alert-danger" role="alert">
		@TempData["ErrorMessage"]
	</div>
}

<h2>
	@if (Model.IsConfirmed)
	{
		<span class="label label-success"><span class="glyphicon glyphicon-ok"></span></span>
	}
	else
	{
		<span class="label label-danger"><span class="glyphicon glyphicon-hourglass"></span></span>
	}
	@if (!String.IsNullOrEmpty(Model.Tag))
	{
		<span class="text-muted">[@Html.DisplayFor(model => model.Tag)]</span>
	}
	@Html.DisplayFor(model => model.Name)

	<span class="pull-right">
		@if (Model.IsConfirmed)
		{
			@Html.TextIconActionLink("Non confirmé", "glyphicon-remove", "TeamNotReady", "Tournaments", new { Id = Model.TeamID }, new { @class = "btn btn-danger" })
		}
		else
		{
			@Html.TextIconActionLink("Confirmer l'équipe", "glyphicon-ok", "TeamReady", "Tournaments", new { Id = Model.TeamID }, new { @class = "btn btn-success" })
		}
		<text> </text>
		@Html.TextIconActionLink("Modifier", "glyphicon-pencil", "EditTeam", "Tournaments", new { teamId = Model.TeamID }, new { @class = "btn btn-primary" })
		@Html.TextIconActionLink("Supprimer","glyphicon-trash", "DeleteTeam", null, new { id = Model.TeamID }, new { @class = "btn btn-danger" })
	</span>
</h2>
<hr />

<div>
	<h3>
		Membres de l'équipe -

		@if (Model.TeamGamerTags.Count >= Model.Tournament.MaxPlayerPerTeam)
		{
			<span class="text-success">
				@Model.TeamGamerTags.Count / @Model.Tournament.MaxPlayerPerTeam
			</span>
		}
		else
		{
			<span>
				@Model.TeamGamerTags.Count / @Model.Tournament.MaxPlayerPerTeam
			</span>
		}
	</h3>

	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.TeamGamerTags.First().User.CompleteName)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.TeamGamerTags.First().Gamertag)
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var gamerTag in Model.TeamGamerTags)
				{
					<tr>
						<td>
							@Html.DisplayFor(model => gamerTag.User.CompleteName)
							@if (Model.TeamLeaderTag == gamerTag)
							{
								<span class="glyphicon glyphicon-star"></span>
							}
						</td>
						<td>
							@Html.DisplayFor(model => gamerTag.Gamertag)
						</td>
						<td class="text-right">
							@Html.ActionLink("Details", "Details", "User", new { id = gamerTag.UserID }, new { @class = "btn btn-primary" })
							@if (Model.TeamLeaderTag != gamerTag)
							{
								<button type="button" class="btn btn-success" data-toggle="modal" data-target="#promoteModal" data-gamertag="@gamerTag.Gamertag" data-gamertag-id="@gamerTag.GamerTagID" title="Promouvoir au rôle de team leader">
									<span class="glyphicon glyphicon-star"></span> Promouvoir
								</button>
								<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#kickModal" data-gamertag="@gamerTag.Gamertag" data-gamertag-id="@gamerTag.GamerTagID" title="Exclure le joueur de l'équipe">
									Exclure
								</button>
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
<p>
	@Html.TextIconActionLink("Retour", "glyphicon-arrow-left", "Details", "Tournaments", new { id = Model.TournamentID }, new { @class = "btn btn-default" })
</p>

@Html.Partial("ConfirmationModal",
	new ModalModel()
	{
		Id = "promoteModal",
		Title = "Promouvoir un joueur",
		Body = "Voulez-vous vraiment promouvoir au rôle de team leader le joueur \" <span id=\"modal-gamertag\"></span> \"?",
		BtnStyle = "success",
		BtnText = "Promouvoir"
	})
@Html.Partial("ConfirmationModal",
	new ModalModel()
	{
		Id = "kickModal",
		Title = "Exclure un joueur",
		Body = "Voulez-vous vraiment exclure le joueur \" <span id=\"modal-gamertag\"></span> \"?",
		BtnStyle = "danger",
		BtnText = "Exclure"
	})

@section Scripts {
	<script>
		$('#kickModal').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget);
			var gamertagId = button.data('gamertagId');
			var gamertag = button.data('gamertag');

			var modal = $(this);
			modal.find('#modal-gamertag').text(gamertag);
			modal.find('#modal-link').attr("href", "@Url.Action("KickPlayer", new { teamId = Model.TeamID })" + "&GamerTagId=" + gamertagId)
		});

		$('#promoteModal').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget);
			var gamertagId = button.data('gamertagId');
			var gamertag = button.data('gamertag');

			var modal = $(this);
			modal.find('#modal-gamertag').text(gamertag);
			modal.find('#modal-link').attr("href", "@Url.Action("PromotePlayer", new { teamId = Model.TeamID })" + "&GamerTagId=" + gamertagId)
		});
	</script>
}