@using LanAdeptData.Model;

@model IEnumerable<LanAdeptData.Model.Tournament>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
		<td>
			@Html.DisplayFor(modelItem => item.Game.Name)
		</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TournamentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TournamentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TournamentID })
        </td>
    </tr>
}

</table>
