@model IEnumerable<LanAdeptAdmin.Views.Tournaments.ModelController.TournamentModel>

@{
	ViewBag.Title = "Index";
	ViewBag.Sidebar = "_Sidebar_Tournament";
}

<h2>Liste des tournois</h2>
<hr />

@if (Model.Count() > 0)
{
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>@Html.DisplayNameFor(model => model.Game)</th>
					<th>@Html.DisplayNameFor(model => model.StartTime)</th>
					<th>État</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr class="clickable-row vertical-align" data-row-url="@Url.Action("Details", new { id = item.Id })">
						<td>
							@Html.DisplayFor(modelItem => item.Game.Name)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.StartTime)
						</td>
						<td>
							@item.GetStatus()
						</td>
						<td class="text-right">
							@Html.IconActionLink("glyphicon-trash", "Delete", null, new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}
else
{
	<em>Il n'y a pas encore de tournoi</em>
}