@model IEnumerable<LanAdeptAdmin.Views.Tournaments.ModelController.TournamentModel>

@{
	ViewBag.Title = "Index";
	ViewBag.Sidebar = "_Sidebar_Tournament";
}

<h2>Index</h2>

<div class="table-responsive">
	<table class="table table-hover">
		<tr>
			<th>@Html.DisplayNameFor(model => model.Game)</th>
			<th>@Html.DisplayNameFor(model => model.StartTime)</th>
			<th></th>
			<th></th>
		</tr>

		@{foreach (var item in Model)
		{
			<tr @("class=clickable-row data-row-url=" + Url.Action("Details", new { id = item.Id }))>
				<td>
					@Html.DisplayFor(modelItem => item.Game.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.StartTime)
				</td>
				<td>
					@{
			if (item.IsOver)
			{
				<a class="btn btn-danger disabled">
					IsOver
				</a>
			}
			else if (item.IsStarted)
			{
				<a class="btn btn-success disabled">
					IsStarted
				</a>
			}
			else
			{
				<a class="btn btn-info disabled">
					not started
				</a>
			}

					}
				</td>
				<td class="text-right">
					@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
				</td>
			</tr>
		}
		}
	</table>
</div>
