@model LanAdept.Views.Place.ModelController.PDFModel
<h2>Ma place - @Model.reservation.Place</h2>

<div>
    <h4>Réservé le @Model.reservation.CreationDate.ToShortDateString()</h4>
    <hr />
    <div>
        <dl class="dl-horizontal">

            <dt>
                Nom Complet
            </dt>

            <dd>
                @Html.DisplayFor(model => model.reservation.User.CompleteName)
            </dd>

            <dt>Date</dt>

            <dd>@Model.setting.StartDate.ToShortDateString()</dd>
        </dl>
        <div id="barcode">
            <div>@Model.reservation.User.Barcode</div>
            @*<p>@Model.reservation.User.Barcode</p>*@
        </div>
    </div>
    <hr />
</div>