@model LanAdept.Views.Place.ModelController.ListeModel

@{
	ViewBag.Title = "Liste des places";
}

@Html.Partial("ModalReserverPlacePartial")

<div class="page-header clearfix">
	<h1 class="pull-left">Liste des places</h1>

	@if (LanAdeptCore.Service.PlaceService.HasUserPlace())
	{
		<div class="btn-toolbar pull-right">
			<div class="btn-group">
				@Html.AuthorizeActionLink("Ma place", "MaPlace", null, null, new { @class = "btn btn-success btn-lg btn-header" })
			</div>
		</div>
	}
	
</div>

@if (!string.IsNullOrWhiteSpace(TempData["Error"] as string))
{
	<div class="alert alert-danger" role="alert">
		@Html.Raw(TempData["Error"])
	</div>
}
@if (!string.IsNullOrWhiteSpace(TempData["Success"] as string))
{
	<div class="alert alert-success" role="alert">
		@Html.Raw(TempData["Success"])
	</div>
}


<div class="alert alert-warning" role="alert">
	(JE SUIS HARDCODÉ)<br />Le LAN a déjà débuté. Il n'est donc plus possible de réserver une place. Si vous désirez changer de place, veuillez vous rendre à l'accueil.
</div>


@foreach (PlaceSection sectionCourante in Model.Sections)
{
	@Html.Partial("SingleSectionPartial", sectionCourante)
}


<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			Légende
		</h3>
	</div>
	<div class="panel-body">

		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-6 place">
			<div>
				Libre
			</div>
		</div>

		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-6 place place-reserve">
			<div>
				Réservée
			</div>
		</div>

		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-6 place place-actuelle">
			<div>
				Ma place
			</div>
		</div>

		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-6 place place-occupe">
			<div>
				Occupée
			</div>
		</div>

	</div>
</div>

@section scripts {

	<script>
		$('#ModalReserverPlace').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget);
			var placeID = button.data('placeId');
			var text = button.data('placeText');

			var modal = $(this);
			modal.find('.modal-place-text').text(text);
			modal.find('.btnReserver').attr("href", "@Url.Action("Reserver")/" + placeID)
		})
	</script>

}