@model LanAdept.Views.Place.ModelController.PDFModel

@{
	ViewBag.Title = "Ma place";
}

@Html.Partial("ModalAnnulerReservationPartial")

<div class="container-sm">
    
    @Html.Partial("DownloadFilePDFPartiel", Model)

    <p class="pull-right">
        @Html.AuthorizeActionLink(" ", "Index", null, null, new { @class = "glyphicon glyphicon-arrow-left btn btn-default" })

        @if (!Model.reservation.Place.IsOccupied)
        {
            @Html.AuthorizeActionLink(" ", "CreateTicket", null, null, new { @class = "glyphicon glyphicon-print btn btn-primary" })
            if (!Model.setting.IsLanOver)
            {
                <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#ModalAnnulerReservation">Annuler ma réservation</a>
            }
        }
    </p>
	<div class="clearfix"></div>
</div>

@section Styles {
    @Styles.Render("~/Content/PDF.css")
}