@model LanAdept.Views.Place.ModelController.MaPlaceModel

@{
	ViewBag.Title = "Ma place";
}

@Html.Partial("ModalAnnulerReservationPartial")

<div class="container-sm" id="desktop-view">
    <h2>Ma place</h2>

    <div>
        <hr />
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>Numéro de place</dt>
                <dd>@Model.reservation.Place</dd>

                <dt>Nom Complet</dt>
                <dd>@Html.DisplayFor(model => model.reservation.User.CompleteName)</dd>

                <dt>Date de réservation</dt>
                <dd>@Model.reservation.CreationDate.ToString("f", System.Globalization.CultureInfo.CreateSpecificCulture("fr-CA"))</dd>
            </dl>
        </div>
        <div class="barcode col-md-6">
            <img src="/Place/GetBarcode/@Model.reservation.User.Barcode" alt="@Model.reservation.User.Barcode" class="pull-right">
        </div>
    </div>

    <p class="pull-right">
        @*@Html.AuthorizeActionLink(" ", "Index", null, null, new { @class = "glyphicon glyphicon-arrow-left btn btn-default" })*@
        @Html.IconActionLink("glyphicon-arrow-left", "Index", null, null, new { @class = "btn btn-default" })

        @if (!Model.reservation.Place.IsOccupied) {
            //@Html.IconActionLink("glyphicon-print", "CreateTicket", null, null, new { @class = "btn btn-primary hidden-sm hidden-xs" })
            <a href="#" onclick="window.print();" class="btn btn-primary hidden-sm hidden-xs"><span class="glyphicon glyphicon-print"></span></a>
            if (!Model.setting.IsLanOver) {
                <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#ModalAnnulerReservation">Annuler</a>
            }
        }
    </p>
    <div class="clearfix"></div>
</div>

<div id="print-view">
    <div class="row">
        <div class="col-xs-4">
            <div class="col-xs-12">
                <img class="print-image center-block" src="~/Image/LOGO_noir_Transparent.png" />
            </div>
        </div>
        <div class="infos col-xs-4">
            <div class="date col-xs-12">Le @Model.setting.StartDate.ToString("f", System.Globalization.CultureInfo.CreateSpecificCulture("fr-CA"))</div>
            <div class="adress col-xs-12">945 Chemin de Chambly, Longueuil, QC</div>
            <div class="col-xs-12">Caféteria orange</div>
        </div>
        <div class="barcode col-xs-4">
            <img src="/Place/GetBarcode/@Model.reservation.User.Barcode" alt="@Model.reservation.User.Barcode" class="pull-right img-responsive center-block">
            <div class="place">Place @Model.reservation.Place</div>
        </div>
    </div>
    <img class="scissors" src="~/Image/scissors.png">
</div>

@section Styles {
    @Styles.Render("~/Content/MaPlacePrint.css")
}