@model LanAdept.Views.Place.ModelController.MaPlaceModel

@{
	ViewBag.Title = "Ma place";
}

@Html.Partial("ModalAnnulerReservationPartial")

<div class="container-sm" id="desktop-view">
	<h2>Ma place</h2>
	<hr />

	@if (!string.IsNullOrWhiteSpace(TempData["Error"] as string))
	{
		<div class="alert alert-danger" role="alert">
			@Html.Raw(TempData["Error"])
		</div>
	}
	@if (!string.IsNullOrWhiteSpace(TempData["Success"] as string))
	{
		<div class="alert alert-success" role="alert">
			@Html.Raw(TempData["Success"])
		</div>
	}
	<div class="alert alert-info" role="alert">
		<strong>Important: </strong>Vous devez avoir ce billet en votre possession lorsque vous arriverez au LAN
	</div>
	<div class="row">
		<div class="col-sm-6">
			<dl class="dl-horizontal">
				<dt>Numéro de place</dt>
				<dd>@Model.reservation.Place</dd>

				<dt>Nom Complet</dt>
				<dd>@Html.DisplayFor(model => model.reservation.User.CompleteName)</dd>

				<dt>Date de réservation</dt>
				<dd>@Model.reservation.CreationDate.ToString("f", System.Globalization.CultureInfo.CreateSpecificCulture("fr-CA"))</dd>
			</dl>
		</div>
		<div class="barcode col-sm-6">
			<img src="/Place/GetBarcode/@Model.reservation.User.Barcode" alt="@Model.reservation.User.Barcode" class="pull-right img-responsive">
		</div>
	</div>

	<div class="pull-right btn-place">
		@Html.IconActionLink("glyphicon-arrow-left", "Index", null, null, new { @class = "btn btn-default" })

		@if (!Model.reservation.Place.IsOccupied)
		{
			<a href="#" onclick="window.print();" class="btn btn-primary"><span class="glyphicon glyphicon-print"></span></a>
			if (!Model.setting.IsLanOver)
			{
				<a href="#" class="btn btn-danger" data-toggle="modal" data-target="#ModalAnnulerReservation">Annuler</a>
			}
		}
	</div>
	<div class="clearfix"></div>
</div>

<div id="print-view">
	<div class="row">
		<div class="col-xs-3">
			<img src="~/Image/LOGO_noir_Transparent.png" class="img-responsive" />
		</div>
		<div class="infos col-xs-4">
			<p>Le @Model.setting.StartDate.ToString("f", System.Globalization.CultureInfo.CreateSpecificCulture("fr-CA"))</p>
			<p>Caféteria orange</p>
			<p>
				945 Chemin de Chambly<br />
				Longueuil, QC
			</p>
		</div>
		<div class="barcode col-xs-5">
			<img src="/Place/GetBarcode/@Model.reservation.User.Barcode" alt="@Model.reservation.User.Barcode" class="img-responsive center-block">
			<div class="place">Place @Model.reservation.Place</div>
		</div>
	</div>
	<img class="scissors" src="~/Image/scissors.png">
</div>

@section Styles {
	@Styles.Render("~/Content/MaPlacePrint.css")
}