@model LanAdeptData.Model.Place
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Details";
    ViewBag.Sidebar = "_Sidebar_Place";
    PagedList<Reservation> reservations = ViewBag.Reservations;
}

<h2>Details</h2>

@Html.Partial("ModalConfirmerAdminAction")

<div>
    <h4>Place @Model</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlaceSection.Name)
        </dt>

        <dd>
            @Model
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastReservation.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastReservation.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastReservation.User.CompleteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastReservation.User.CompleteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastReservation.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastReservation.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastReservation.User.CodeBare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastReservation.User.CodeBare)
        </dd>
    </dl>

    <div class="hover btn btn-default" data-toggle="modal" data-target="#ModalConfirmerAdminAction"
         data-place-text="@Model" data-place-id="@Model.PlaceID" data-action="Liberer" data-text="Libérée">
        Libérée
    </div>

    <div class="hover btn btn-info" data-toggle="modal" data-target="#ModalConfirmerAdminAction"
         data-place-text="@Model" data-place-id="@Model.PlaceID" data-action="Reserver" data-text="Réservée">
        Réservée
    </div>

    <div class="hover btn btn-warning" data-toggle="modal" data-target="#ModalConfirmerAdminAction"
         data-place-text="@Model" data-place-id="@Model.PlaceID" data-action="Occuper" data-text="Occupée">
        Occupée
    </div>

    <hr />
    @using (Html.BeginForm("Details", "Place", FormMethod.Get))
    {
        <p>
            Find by full name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
    }

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.ActionLink("Creation Date", "Details", new { sortOrder = ViewBag.DateSort })</th>
                    <th>@Html.ActionLink("Full Name", "Details", new { sortOrder = ViewBag.NameSort, currentFilter = ViewBag.CurrentFilter })</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Reservation reservation in reservations)
                {
                    <tr>
                        <th>@reservation.CreationDate</th>
                        <th>@reservation.User.CompleteName</th>
                    </tr>
                }
            </tbody>
        </table>

        <br />
        @Html.PagedListPager(reservations, page => Url.Action("Details",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>

</div>

<p>
    @Html.AuthorizeActionLink("Back to List", "Index")
</p>

@section scripts {

    <script>
        $('#ModalConfirmerAdminAction').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
			var placeID = button.data('placeId');
			var action = button.data('action');
			var text = button.data('placeText');
			var buttonText = button.data('text');

			var modal = $(this);
			modal.find('.modal-place-text').text(text);
			modal.find('.action').text(buttonText);
			modal.find('.btnConfirmer').attr("href", "@Url.Action("Confirmer")?id=" + placeID + "&placeAction=" + action)
		})
    </script>

}
