@model LanAdeptData.Model.Place
@using PagedList.Mvc;
@using PagedList;

@{
	ViewBag.Title = "Details";
	ViewBag.Sidebar = "_Sidebar_Place";
	PagedList<Reservation> reservations = ViewBag.Reservations;

	string classeEtat = "";
	string messageEtat = "";

	if (!Model.IsFree)
	{
		if (LanAdeptCore.Service.ReservationService.IsUserPlace(Model))
		{
			classeEtat = "label-success";
			messageEtat = "Ma place";
		}
		else if (Model.IsOccupied)
		{
			classeEtat = "label-danger";
			messageEtat = "Occupée";
		}
		else
		{
			classeEtat = "label-primary";
			messageEtat = "Réservée";
		}
	}
	else
	{
		classeEtat = "label-default";
		messageEtat = "Libre";
	}

}

@Html.Partial("ModalConfirmerAdminAction")

@if (!string.IsNullOrWhiteSpace(TempData["Error"] as string))
{
	<div class="alert alert-danger" role="alert">
		@Html.Raw(TempData["Error"])
	</div>
}
@if (!string.IsNullOrWhiteSpace(TempData["Success"] as string))
{
	<div class="alert alert-success" role="alert">
		@Html.Raw(TempData["Success"])
	</div>
}
@if (!string.IsNullOrWhiteSpace(TempData["Warning"] as string))
{
	<div class="alert alert-warning" role="alert">
		@Html.Raw(TempData["Warning"])
	</div>
}

<h2>
	<span class="label @classeEtat">@messageEtat</span> Place @Model
</h2>

<hr />
<div class="row">
	<div class="col-lg-6">
		<h3>Réservation actuelle</h3>
		@if (!Model.IsFree)
		{
			<dl class="dl-horizontal">
				<dt>
					Nom complet
				</dt>

				<dd>
					@if (Model.LastReservation.IsGuest)
					{
						@Html.DisplayFor(model => model.LastReservation.UserCompleteName)
					}
					else
					{
						@Html.AuthorizeActionLink(Model.LastReservation.User.CompleteName, "Details", "User", new { id = Model.LastReservation.User.UserID }, true)
					}
				</dd>

				<dt>
					Email
				</dt>

				<dd>
					@(Model.LastReservation.IsGuest ? " -- " : Model.LastReservation.User.Email)
				</dd>

				<dt>
					Date de réservation
				</dt>

				<dd>
					@Html.DisplayFor(model => model.LastReservation.CreationDate)
				</dd>

			</dl>
		}
		else
		{
			<em>Cette place est présentement libre</em>
		}
	</div>

	<div class="col-lg-6 text-right">
		@{
			if (Model.IsFree || !Model.LastReservation.HasArrived)
			{
				@Html.AuthorizeActionLink("Réserver", "Reserve", null, new { id = Model.PlaceID }, new { @class = "btn btn-default btn-mobile-full" })
			}
			if (!Model.IsFree && !Model.LastReservation.HasArrived)
			{
				@Html.AuthorizeActionLink("Confirmer la présence", "Arriving", null, new { id = Model.PlaceID }, new { @class = "btn btn-success btn-mobile-full" })
				@Html.AuthorizeActionLink("Annuler la réservation", "Cancel", null, new { id = Model.PlaceID }, new { @class = "btn btn-danger btn-mobile-full" })
			}
			if (!Model.IsFree && Model.LastReservation.HasArrived && !Model.LastReservation.HasLeft)
			{
				@Html.AuthorizeActionLink("Confirmer le départ", "Leaving", null, new { id = Model.PlaceID }, new { @class = "btn btn-danger btn-mobile-full" })
			}
		}
	</div>

</div>

<hr />

<h3>Historique des réservations</h3>

@if (reservations.TotalItemCount > 0)
{
	using (Html.BeginForm("Details", "Place", FormMethod.Get, new { @class = "clearfix" }))
	{
		<div class="col-sm-10 col-md-7 col-lg-5 remove-padding">
			<p class="input-group">
				@Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Code barre, email ou nom complet" })
				<span class="input-group-btn">
					<button type="submit" class="btn btn-primary">
						<span class="glyphicon glyphicon-search"></span>
						Chercher
					</button>
				</span>
			</p>
		</div>

	}

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>@Html.ActionLink("Date de réservation", "Details", new { sortOrder = ViewBag.DateSort })</th>
					<th>@Html.ActionLink("Nom complet", "Details", new { sortOrder = ViewBag.NameSort, currentFilter = ViewBag.CurrentFilter })</th>
					<th>Date d'arrivée</th>
					<th>Date de départ</th>
					<th>Date d'annulation</th>
				</tr>
			</thead>
			<tbody>
				@foreach (Reservation reservation in reservations)
				{
					<tr>
						<td>@reservation.CreationDate</td>
						<td>@reservation.UserCompleteName</td>
						<td>@(reservation.HasArrived ? reservation.ArrivalDate.ToString() : " -- ")</td>
						<td>@(reservation.HasLeft ? reservation.LeavingDate.ToString() : " -- ")</td>
						<td>@(reservation.IsCancelled ? reservation.CancellationDate.ToString() : " -- ")</td>
					</tr>
				}
			</tbody>
		</table>

		@if (reservations.PageCount > 1)
		{
			<br />
			@Html.PagedListPager(reservations, page => Url.Action("Details",
				new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
		}

	</div>
}
else
{
	<em>Cette place n'a pas encore été réservé</em>
}


@section Scripts {

	<script>
		$('#ModalConfirmerAdminAction').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget);
			var placeID = button.data('placeId');
			var action = button.data('action');
			var text = button.data('placeText');
			var buttonText = button.data('text');

			var modal = $(this);
			modal.find('.modal-place-text').text(text);
			modal.find('.action').text(buttonText);
			modal.find('.btnConfirmer').attr("href", "@Url.Action("Confirmer")?id=" + placeID + "&placeAction=" + action)
		})
	</script>
}
