@model LanAdeptAdmin.Views.Places.ModelController.ListeModel

@{
	ViewBag.Title = "Liste des places";
	ViewBag.Sidebar = "_Sidebar_Place";
}

<div class="page-header clearfix">
    <h2>Liste des places</h2>
</div>

@if (!string.IsNullOrWhiteSpace(TempData["Error"] as string))
{
    <div class="alert alert-danger" role="alert">
        @Html.Raw(TempData["Error"])
    </div>
}
@if (!string.IsNullOrWhiteSpace(TempData["Success"] as string))
{
    <div class="alert alert-success" role="alert">
        @Html.Raw(TempData["Success"])
    </div>
}


@foreach (Map map in Model.Maps)
{
	@Html.Partial("SingleMapPartial", map)
}


<div id="legende-container">
    <div id="legende">
        <div class="row">
            <div class="legende-col">
                <div class="place">L01</div>
            </div>
            <div class="legende-col">
                <div class="place place-reserve">L02</div>
            </div>
            <div class="legende-col">
                <div class="place place-actuelle">L03</div>
            </div>
            <div class="legende-col">
                <div class="place place-occupe">L04</div>
            </div>
        </div>
        <div class="row">
            <div class="legende-col">
                <div class="legende-label">Libre</div>
            </div>
            <div class="legende-col">
                <div class="legende-label">Réservée</div>
            </div>
            <div class="legende-col">
                <div class="legende-label">Ma place</div>
            </div>
            <div class="legende-col">
                <div class="legende-label">Occupée</div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

	<script>
		$('#ModalReserverPlace, #ModalChangerPlace').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget);
			var placeID = button.data('placeId');
			var text = button.data('placeText');

			var modal = $(this);
			modal.find('.modal-place-text').text(text);
			modal.find('.btnReserver').attr("href", "@Url.Action("Reserver")/" + placeID)
		})
	</script>

}

@section Styles {
    <link href="@Url.Content("~/Content/Map.css")" rel="stylesheet" type="text/css" />
}