@model LanAdeptAdmin.Views.Place.ModelController.ListeModel
@Scripts.Render("~/bundles/jquery")
@{
	ViewBag.Title = "Places";
	ViewBag.Sidebar = "_Sidebar_Place";
    var seatId = 0;
    var eventKeyId = Model.Settings.EventKeyId;
    var publicKeyId = Model.Settings.PublicKeyId;
}

<div class="page-header clearfix">
    <h2>@ViewBag.Title</h2>
</div>

@Html.ShowMessage()
<div id="chart"></div>
<script>
        $(document).ready(function () {
            new seatsio.SeatingChart({
                divId: 'chart',
                publicKey: '@publicKeyId',
                event: '@eventKeyId',
                maxSelectedObjects: 1,
                onObjectSelected: function (object) {
                    seatId = object.id;
                    window.location.href = "../Place/Details/" + seatId;                
                },
                onObjectDeselected: function (object) {

                },

            }).render();

        });

</script>

@section Scripts {

	@*<script>
        $('#ModalReserverPlace, #ModalChangerPlace').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var placeID = button.data('placeId');
            var text = button.data('placeText');

            var modal = $(this);
            modal.find('.modal-place-text').text(text);
            modal.find('.btnReserver').attr("href", "@Url.Action("Reserver")/" + placeID)
        })
    </script>
    *@
}

@section Styles {
    <link href="@Url.Content("~/Content/Map.css")" rel="stylesheet" type="text/css" />
       <script src="https://app.seats.io/chart.js" type="text/javascript"></script>
}