@model LanAdeptAdmin.Views.Places.ModelController.SearchModel

@{
	ViewBag.Title = "Recherche";
	ViewBag.Sidebar = "_Sidebar_Place";
}

<h2>Rechercher une réservation</h2>
<hr />

@if (!string.IsNullOrWhiteSpace(TempData["Error"] as string))
{
	<div class="alert alert-danger" role="alert">
		@Html.Raw(TempData["Error"])
	</div>
}
@if (!string.IsNullOrWhiteSpace(TempData["Success"] as string))
{
	<div class="alert alert-success" role="alert">
		@Html.Raw(TempData["Success"])
	</div>
}
@if (!string.IsNullOrWhiteSpace(TempData["Warning"] as string))
{
	<div class="alert alert-warning" role="alert">
		@Html.Raw(TempData["Warning"])
	</div>
}

<div>
	<div class="form-horizontal">
		@using (Html.BeginForm("Search", "Place", FormMethod.Get))
		{
			<div class="form-group">
				<div class="col-md-6">
					<div class="input-group">
						@Html.EditorFor(model => model.Query, new { htmlAttributes = new { @class = "form-control", placeholder = "Code barre, email ou nom complet", autofocus = "true" } })
						<span class="input-group-btn">
							<button class="btn btn-primary" type="submit">
								<span class="glyphicon glyphicon-search"></span>
								Chercher
							</button>
						</span>
					</div>
				</div>
			</div>
		}
	</div>

	<div class="btn-group btn-group-justified visible-xs-block">
		<a href="https://play.google.com/store/apps/details?id=com.google.zxing.client.android&hl=fr" class="btn btn-default">
			<span class="glyphicon glyphicon-save"></span>
			Télécharger l'app
		</a>
		<a href="zxing://scan/?ret=@Url.Action("Search", "Place", new { query = "{CODE}", SCAN_FORMATS = "39" }, "http")" class="btn btn-success">
			<span class="glyphicon glyphicon-barcode"></span>
			Ouvrir le Scanner
		</a>
	</div>

	@if (Model.FoundReservation)
	{
		<hr />
		@Html.Partial("ListReservationFoundPartial", Model.ReservationsFound)
	}
</div>

@section Scripts {
	<script>
		$(function () {
			$("#Query").blur(function () {
				$(this).focus();
			})
		});
	</script>

}