@model LanAdeptData.Model.Place

@{
	string classFirstDiv = "place";

	if (!Model.IsFree)
	{
		if (LanAdeptCore.Service.ReservationService.IsUserPlace(Model))
		{
			classFirstDiv += " place-actuelle";
		}
		else if (Model.IsOccupied)
		{
			classFirstDiv += " place-occupe";
		}
		else
		{
			classFirstDiv += " place-reserve";
		}
	}

	bool userHaveAPlace = LanAdeptCore.Service.ReservationService.HasUserPlace();
}

<div class=" @classFirstDiv">
	@if (Html.HasActionPermission("Reserver") 
		&& Model.IsFree
		&& !userHaveAPlace
		&& !ViewBag.Settings.IsLanStarted)
	{
		<div class="hover" data-toggle="modal" data-target="#ModalReserverPlace" data-place-text="@Model" data-place-id="@Model.PlaceID">
			@Model
		</div>
	}
	else if (Html.HasActionPermission("Reserver")
		&& Model.IsFree
		&& userHaveAPlace
		&& !ViewBag.Settings.IsLanStarted)
	{
		<div class="hover" data-toggle="modal" data-target="#ModalChangerPlace" data-place-text="@Model" data-place-id="@Model.PlaceID">
			@Model
		</div>
	}
	else if (LanAdeptCore.Service.ReservationService.IsUserPlace(Model))
	{
		<div class="hover">
			@Html.AuthorizeActionLink(@Model.ToString(), "MaPlace", true)
		</div>
	}
	else
	{
	<div>
		@Model
	</div>
	}
</div>