@using LanAdeptAdmin.Views.Game.ModelController;

@model IEnumerable<GameModel>

@{
	ViewBag.Title = "Liste des jeux";
	ViewBag.Sidebar = "_Sidebar_Game";
}

<h2>@ViewBag.Title</h2>
<hr />

@if (Model.Count() > 0)
{
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td class="text-right">
						@Html.IconActionLink("glyphicon-pencil", "Edit", null, new { id = item.GameID }, new { @class = "btn btn-default btn-sm" })
						@Html.IconActionLink("glyphicon-trash", "Delete", null, new { id = item.GameID }, new { @class = "btn btn-danger btn-sm" })
					</td>
				</tr>
			}
		</tbody>

	</table>
}
else
{
	<em>Il n'y a pas de jeu pour le moment.</em>
}