@model LanAdept.Views.Tournament.ModelController.AddTeamModel
@using LanAdept.Views.Tournament.ModelController;

@{
	ViewBag.Title = "AddTeam";
}

<h2>AddTeam</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>TeamModel</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.TournamentID)
        @Html.HiddenFor(model => model.GamerTagId, new { id = "tagId" })
		<div class="form-group">
			@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-6">
				@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Tag, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-6">
				@Html.EditorFor(model => model.Tag, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Tag, "", new { @class = "text-danger" })
			</div>
		</div>


		<div class="form-group">
            <div class="btn-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Ajouter une equipe" class="teamButton btn btn-default" />
                </div>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    @foreach (var gamerTags in Model.GamerTags)
                    {
                        <li><a href="#" data-tagid="@gamerTags.GamerTagID"><span></span>@gamerTags.Gamertag</a></li>
                    }
                    <li role="separator" class="divider"></li>
                    <li>
                        @using (Html.BeginForm("AddGamerTag", "Tournament", new GamerTagModel() { TournamentID = Model.TournamentID }, FormMethod.Post))
                        {
                            <div class="col-lg-12">
                                <div class="input-group input-group-sm">
                                    @Html.Editor("Gamertag")
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">+</button>
                                    </span>
                                </div>
                            </div>
                        }
                    </li>
                </ul>
            </div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>

@section scripts {
    <script>
        $(document).ready(function(){
            
            var gamerTagId = 0;

            $('.teamButton').click(function (event) {
                if (gamerTagId == 0) event.preventDefault();
                else
                {
                    $('#tagId').val(gamerTagId);
                }
            })

            $('.dropdown-menu li a').click(function () {
                gamerTagId = $(this).attr('data-tagid')
                $('.selectedTag').removeClass('selectedTag glyphicon glyphicon-ok');
                var attr = 'ul li a[data-tagid=' + gamerTagId + ']';
                $(attr).children('span').addClass('selectedTag glyphicon glyphicon-ok')
            })

        })
    </script>
}

