@model LanAdept.Views.Tournament.ModelController.TournamentModel



@{
	ViewBag.Title = "Details";
}
<div class="map-max-width">
    <div class="page-header clearfix">
        <h1 class="pull-left">@Html.DisplayFor(model => model.Game.Name)</h1>
        <div class="btn-toolbar pull-right">
            <div class="btn-group">
                @Html.ActionLink("Ajouter une equipe", "AddTeam", new { id = Model.Id }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>

    <h4>Teams</h4>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Teams.First().Name)</th>
            <th>@Html.DisplayNameFor(model => model.Teams.First().Tag)</th>
            <th>Nombre de joueur</th>
            <th></th>
        </tr>

        @foreach (Team team in Model.Teams)
        {
            <tr>
                <td>
                    @team.Name.ToString()
                </td>
                <td>
                    @if (team.Tag != null)
                    {
                        @team.Tag.ToString()
                    }
                </td>
                <td>
                    @team.Users.Count.ToString()
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-">@Html.AuthorizeActionLink("Rejoindre", "JoinTeam")</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>


