@model LanAdept.Views.Tournament.ModelController.TournamentModel
@using LanAdept.Views.Tournament.ModelController;


@{
    bool isConnected = LanAdeptCore.Service.UserService.GetLoggedInUser() != null;
    ViewBag.Title = "Details";
}
<div class="map-max-width">
    @if (isConnected)
    {
        <div class="page-header clearfix">
            <h1 class="pull-left">@Html.DisplayFor(model => model.Game.Name)</h1>
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    @Html.ActionLink("Ajouter une equipe", "AddTeam", new { id = Model.TournamentID }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    }

    <h4>Teams</h4>
@using (Html.BeginForm("JoinTeam", "Tournament", new JoinTeamModel() { TournamentID = Model.TournamentID }))
{
    @Html.Hidden("GamerTagID", 0, new { @class = "tagInput" })
    @Html.Hidden("TeamID", 0, new { @class = "teamInput" })
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Teams.First().Name)</th>
            <th>@Html.DisplayNameFor(model => model.Teams.First().Tag)</th>
            <th>Nombre de joueur</th>
            <th>Membre de l'équipe</th>
            @if (isConnected)
            {
                <th></th>
            }
        </tr>

        @foreach (Team team in Model.Teams)
        {
            <tr>
                <td>
                    @team.Name
                </td>
                <td>
                    @if (team.Tag != null)
                    {
                        @team.Tag
                    }
                </td>
                <td>
                    @team.GamerTags.Count / @team.Tournament.MaxPlayerPerTeam
                </td>
                <td>
                    @foreach (var tag in team.GamerTags)
                    {
                        <div class="col-xs-12">@tag.Gamertag</div>
                    }
                </td>
                @if (isConnected)
                {
                    <td>
                        <div class="form-group">
                            <div class="btn-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" data-team-id="@team.TeamID" value="Rejoindre" class="teamButton btn btn-default" />
                                </div>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    @foreach (var gamerTags in Model.GamerTags)
                                    {
                                        <li><a href="#" data-tagid="@gamerTags.GamerTagID"><span></span>@gamerTags.Gamertag</a></li>
                                    }
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <div class="col-lg-12">
                                            <div class="input-group input-group-sm">
                                                <input class="text-box single-line" id="tagText" type="text" value="" />
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button">
                                                        @Html.AuthorizeActionLink("+", "AddGamerTag", "Tournament", new GamerTagModel() { TournamentID = Model.TournamentID, ActionRedir = "Details" }, new { @class = "plusButton" })
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>          
                    </td>
                }
            </tr>
        }
    </table>
}
</div>

@section scripts {
    <script>
        $(document).ready(function () {

            var gamerTagId = 0;
            $('.teamButton').click(function (event) {
                if (gamerTagId == 0) event.preventDefault();
                else
                {
                    $('.tagInput').val(gamerTagId);
                    
                    var teamID = $(this).attr('data-team-id');
                    $('.teamInput').val(teamID)
                }
            })

            $('.plusButton').click(function (event) {
                var gamerTag = $('#tagText').val();
                var url = $(this).attr('href');
                url += '&Gamertag=' + gamerTag;
                $(this).attr('href', url);
            })

            $('.dropdown-menu li a').click(function () {
                gamerTagId = $(this).attr('data-tagid')
                $('.selectedTag').removeClass('selectedTag glyphicon glyphicon-ok');
                var attr = 'ul li a[data-tagid=' + gamerTagId + ']';
                $(attr).children('span').addClass('selectedTag glyphicon glyphicon-ok')
            })

        })
    </script>
}
