@model IEnumerable<LanAdept.Views.Tournament.ModelController.TournamentModel>

@{
    ViewBag.Title = "Liste des tournois";
}

<h2>Liste des tournois</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-sm-11">
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th class="col-sm-1">
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr @("class=clickable-row data-row-url=" + Url.Action("Details", "Tournament", new { id = item.TournamentID }))>
                <td class="col-sm-11">
                    @Html.DisplayFor(modelItem => item.Game.Name)
                </td>
                <td class="col-sm-1">
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/Scripts/general.js")
}

@section Styles {
    @Styles.Render("~/Content/Tournois.css")
}
