@{
	ViewBag.Title = "Accueil";
}

<div class="jumbotron">
	<div class="row">
		<img src="~/Image/LOGO_noir_Transparent.png" class="img-responsive center-block home-image" />
	</div>
	<div class="row text-center">
		<p id="date"></p>
		@Html.AuthorizeActionLink("Inscrivez-vous dès maintenant!", "Register", "Auth", null, new { @class = "text-center btn btn-primary", @role = "button" })
	</div>
</div>

<div class="row text-center">
	<div class="col-xs-3">
		<h1 id="days"></h1>
		<hr />
		<h4>jours</h4>
	</div>
	<div class="col-xs-3">
		<h1 id="hours"></h1>
		<hr />
		<h4>heures</h4>
	</div>
	<div class="col-xs-3">
		<h1 id="minutes"></h1>
		<hr />
		<h4>minutes</h4>
	</div>
	<div class="col-xs-3">
		<h1 id="seconds"></h1>
		<hr />
		<h4>secondes</h4>
	</div>
</div>

<div class="row">
	<div id="description" class="col-md-6">
		<h2>À propos du LAN</h2>
		@Html.Markdown((string)ViewBag.Description)
	</div>
    <div id="places-disponibles" class="col-md-6">
        <h2 class="row">Places réservées</h2>
        <h1 class="row">@ViewBag.PlacesReservee</h1>
    </div>
</div>

<hr class="hidden-xs" />

<div id="carousel-container" class="hidden-xs">
	<div id="carousel" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel" data-slide-to="0" class="active"></li>
			<li data-target="#carousel" data-slide-to="1"></li>
			<li data-target="#carousel" data-slide-to="2"></li>
			<li data-target="#carousel" data-slide-to="3"></li>
			<li data-target="#carousel" data-slide-to="4"></li>
			<li data-target="#carousel" data-slide-to="5"></li>
			<li data-target="#carousel" data-slide-to="6"></li>
			<li data-target="#carousel" data-slide-to="7"></li>
			<li data-target="#carousel" data-slide-to="8"></li>
			<li data-target="#carousel" data-slide-to="9"></li>
			<li data-target="#carousel" data-slide-to="10"></li>
			<li data-target="#carousel" data-slide-to="11"></li>
			<li data-target="#carousel" data-slide-to="12"></li>
			<li data-target="#carousel" data-slide-to="13"></li>
			<li data-target="#carousel" data-slide-to="14"></li>
		</ol>

		<div class="carousel-inner" role="listbox">
			<div class="item active"><img src="~/Image/Carousel/0.jpg"></div>
			<div class="item"><img src="~/Image/Carousel/1.jpg"></div>
			<div class="item"><img src="~/Image/Carousel/2.jpg"></div>
			<div class="item"><img src="~/Image/Carousel/3.jpg"></div>
			<div class="item"><img src="~/Image/Carousel/4.jpg"></div>
			<div class="item"><img src="~/Image/Carousel/5.jpg"></div>
			<div class="item"><img src="~/Image/Carousel/6.jpg"></div>
			<div class="item"><img src="~/Image/Carousel/7.jpg"></div>
			<div class="item"><img src="~/Image/Carousel/8.jpg"></div>
			<div class="item"><img src="~/Image/Carousel/9.jpg"></div>
			<div class="item"><img src="~/Image/Carousel/10.jpg"></div>
			<div class="item"><img src="~/Image/Carousel/11.jpg"></div>
			<div class="item"><img src="~/Image/Carousel/12.jpg"></div>
			<div class="item"><img src="~/Image/Carousel/13.jpg"></div>
			<div class="item"><img src="~/Image/Carousel/14.jpg"></div>
		</div>

		<a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Précédent</span>
		</a>
		<a class="right carousel-control" href="#carousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Suivant</span>
		</a>
	</div>
</div>

<hr />

<div class="row">
    <div id="map">
        <h2>Emplacement du LAN</h2>
        <p>Le LAN de l'ADEPT se déroulera dans la caféteria orange du Collège Édouard-Montpetit.</p>
        <div id="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.538629585589!2d-73.4939839013939!3d45.535201598053156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91b5a9478504d%3A0x18f852b44040e119!2s945+Chemin+de+Chambly%2C+Longueuil%2C+QC+J4H!5e0!3m2!1sfr!2sca!4v1444148974514"
                    width="1000"
                    height="450"
                    frameborder="0"
                    style="border:0;"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>

@section Styles {
	@Styles.Render("~/Content/Home.css")
}

@section Scripts{
	<script>
		$(document).ready(function () {
			timer();
		});

		function timer() {
			var jourSemaine = ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"];
			var mois = ['janvier', 'février', 'mars', 'avril', 'mai', 'juin', 'juillet', 'août', 'septembre', 'octobre', 'novembre', 'décembre'];

			function setTimer() {
				var dateNow = new Date();
				var timeDiff = new Date(dateLan - dateNow);

				var seconds = Math.floor((dateLan.getTime() - (new Date().getTime())) / 1000);
				var minutes = Math.floor(seconds / 60);
				var hours = Math.floor(minutes / 60);
				var days = Math.floor(hours / 24);

				hours = hours - (days * 24);
				minutes = minutes - (days * 24 * 60) - (hours * 60);
				seconds = seconds - (days * 24 * 60 * 60) - (hours * 60 * 60) - (minutes * 60);

				//$("#timer").text("Prochain LAN dans " + days + " jours " + addLeadingZero(hours) + ":" + addLeadingZero(minutes) + ":" + addLeadingZero(seconds));
				$("#days").text(days);
				$("#hours").text(addLeadingZero(hours));
				$("#minutes").text(addLeadingZero(minutes));
				$("#seconds").text(addLeadingZero(seconds));
			}

			function dateToString(date) {
				var strDate = "";

				strDate += jourSemaine[date.getDay() - 1];
				strDate += " le " + date.getDate();
				strDate += " " + mois[date.getMonth()];
				strDate += " " + date.getFullYear();
				strDate += " à " + addLeadingZero(date.getHours());
				strDate += ":" + addLeadingZero(date.getMinutes());

				return strDate;
			}

			function addLeadingZero(number) {
				return ("0" + number).slice(-2);
			}

			var dateLan = new Date(@ViewBag.dateLan);

			$("#date").text(dateToString(dateLan));

			setTimer();
			setInterval(setTimer, 1000);
		}
	</script>
}
