@model LanAdept.Views.Auth.ModelController.ExternalLoginConfirmationViewModel

@{
	ViewBag.Title = "S'inscrire";
}

@using (Html.BeginForm("ExternalLoginConfirmation", "Auth", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
	<div class="col-sm-5 col-md-6">
		@Html.AntiForgeryToken()
		<h3>Inscription</h3>

		<div id="subLeftCol" class="clearfix">
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			<p class="text-info">
				Vous avez été authentifié avec succès avec <strong>@ViewBag.LoginProvider</strong>.
				Veuillez entrer ci-dessous votre nom complet ainsi qu'une adresse courriel à laquelle nous pouvons vous joindre.
			</p>
			<strong class="text-info">N'oubliez-pas de bien lire les règlements</strong>
			<div class="form-group col-lg-12 remove-padding">
				@Html.LabelFor(m => m.CompleteName, new { @class = "control-label" })
				@Html.TextBoxFor(m => m.CompleteName, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.CompleteName, "", new { @class = "text-danger" })
				<p class="help-block" id="realName"><strong>Attention!</strong> Si vous n'inscrivez pas votre nom réel, vous pourriez vous voir refuser l'accès au LAN.</p>
			</div>

			<div class="form-group remove-padding">
				@Html.LabelFor(m => m.Email, new { @class = "control-label" })
				@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
			</div>
		</div>
	</div>
	<div class="col-sm-7 col-md-6">
		<h3>Règlements</h3>
		<div class="panel panel-default" id="subRightCol">
			<div class="panel-body termsAndCondition">
				@Html.Markdown((string)ViewBag.Rules)
			</div>
		</div>

		<button type="submit" class="btn btn-primary pull-right">S'inscrire</button>
	</div>
}

@section Scripts {
	<script>
		function resizeRules() {
			$(".termsAndCondition").outerHeight($("#subLeftCol").outerHeight() - 15);
		}

		$(window).resize(resizeRules);

		$(function () {
			resizeRules();
		});
	</script>
	@Scripts.Render("~/bundles/jqueryval")
}
@section Styles {
	<style>
		@@media (max-width: 1199px) {
			.remove-padding {
				padding: 0;
			}
		}
	</style>
}