@model LanAdept.Views.Auth.ModelController.RegisterModel
@{
	ViewBag.Title = "Register";
}

<div class="container-fluid">
	<section class="container">
		<div class="container-page">
			@using (Html.BeginForm("Register", "Auth", FormMethod.Post))
			{
				<div class="col-sm-5 col-md-6">

					<h3>Inscription</h3>

					<div id="subLeftCol" class="clearfix">
						<div class="form-group col-lg-12 remove-padding">
							@Html.LabelFor(model => model.CompleteName)
							@Html.EditorFor(model => model.CompleteName, new { htmlAttributes = new { @class = "form-control", aria_describedby = "realName" } })
							@Html.ValidationMessageFor(model => model.CompleteName, "", new { @class = "text-danger" })
							<p class="help-block" id="realName"><strong>Attention!</strong> Si vous n'inscrivez pas votre nom réel, vous pourriez vous voir refuser l'accès au LAN</p>
						</div>

						<div class="form-group col-lg-6 remove-padding">
							@Html.LabelFor(model => model.Email)
							@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
						</div>

						<div class="form-group col-lg-6 remove-padding">
							@Html.LabelFor(model => model.EmailConfirmation)
							@Html.EditorFor(model => model.EmailConfirmation, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.EmailConfirmation, "", new { @class = "text-danger" })
						</div>

						<div class="form-group col-lg-6 remove-padding">
							@Html.LabelFor(model => model.Password)
							@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
						</div>

						<div class="form-group col-lg-6 remove-padding">
							@Html.LabelFor(model => model.PasswordConfirmation)
							@Html.EditorFor(model => model.PasswordConfirmation, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.PasswordConfirmation, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>

				<div class="col-sm-7 col-md-6">
					<h3>Règlements</h3>
					<div class="panel panel-default" id="subRightCol">
						<div class="panel-body termsAndCondition">
							<p>
								By clicking on "Register" you agree to The Company's' Terms and Conditions
							</p>
							<p>
								While rare, prices are subject to change based on exchange rate fluctuations -
								should such a fluctuation happen, we may request an additional payment. You have the option to request a full refund or to pay the new price. (Paragraph 13.5.8)
							</p>
							<p>
								Should there be an error in the description or pricing of a product, we will provide you with a full refund (Paragraph 13.5.6)
							</p>
							<p>
								Acceptance of an order by us is dependent on our suppliers ability to provide the product. (Paragraph 13.5.6)
							</p>
						</div>
					</div>

					<button type="submit" class="btn btn-primary pull-right">S'inscrire</button>
				</div>
			}
		</div>
	</section>
</div>

@section Scripts {
	<script>
		function resizeRules() {
			$(".termsAndCondition").outerHeight($("#subLeftCol").outerHeight() - 15);
		}

		$(window).resize(resizeRules);

		$(function () {
			resizeRules();
		});
	</script>
	@Scripts.Render("~/bundles/jqueryval")

}
@section Styles {
	<style>
		@@media (max-width: 1199px) {
			.remove-padding {
				padding: 0;
			}
		}
	</style>
}