@model LanAdept.Views.Auth.ModelController.ResetPasswordModel
@{
	ViewBag.Title = "Réinitialiser mon mot de passe";
}

<div class="page-header clearfix">
	<h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Code)

	<div class="form-group">
		@Html.LabelFor(m => m.Password, new { @class = "col-sm-5 col-md-4 col-lg-3 control-label" })
		<div class="col-sm-7 col-md-6">
			@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-5 col-md-4 col-lg-3 control-label" })
		<div class="col-sm-7 col-md-6">
			@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-5 col-md-offset-4 col-lg-offset-3 col-sm-7 col-md-6 text-right">
			<input type="submit" value="Réinitialiser" class="btn btn-primary" />
		</div>
	</div>
}