@model LanAdeptData.Model.User

@{
	ViewBag.Title = "Détails d'un utilisateur";
	ViewBag.Sidebar = "_Sidebar_User";
}

<h2>
	Détails - @Model.CompleteName
	<div class="pull-right">
		@Html.ActionLink("Modifier", "Edit", new { id = Model.UserID }, new { @class = "btn btn-primary" })
		@Html.ActionLink("Retour", "Index", null, new { @class = "btn btn-default" })
	</div>

</h2>
<hr />

@if (!string.IsNullOrWhiteSpace(TempData["Error"] as string))
{
	<div class="alert alert-danger" role="alert">
		@Html.Raw(TempData["Error"])
	</div>
}
@if (!string.IsNullOrWhiteSpace(TempData["Success"] as string))
{
	<div class="alert alert-success" role="alert">
		@Html.Raw(TempData["Success"])
	</div>
}

<div>
	<dl class="dl-horizontal">

		<dt>
			Nom complet
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CompleteName)
		</dd>

		<dt>
			Email
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Email)
		</dd>

		<dt>
			Rôle
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Role.Name)
		</dd>
	</dl>
</div>
