@model IPagedList<User>
@using PagedList.Mvc;
@using PagedList;


@{
	ViewBag.Title = "Liste des utilisateurs";
	ViewBag.Sidebar = "_Sidebar_User";
}

<h2>Liste des utilisateurs</h2>
<hr />

@if (!string.IsNullOrWhiteSpace(TempData["Error"] as string))
{
	<div class="alert alert-danger" role="alert">
		@Html.Raw(TempData["Error"])
	</div>
}
@if (!string.IsNullOrWhiteSpace(TempData["Success"] as string))
{
	<div class="alert alert-success" role="alert">
		@Html.Raw(TempData["Success"])
	</div>
}

<table class="table">
	<thead>
		<tr>
			<th>
				Nom complet
			</th>
			<th>
				Email
			</th>
			<th>
				Rôle
			</th>
			<th>
				Code barre
			</th>
			<th class="text-center">
				Place
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var user in Model)
		{

			<tr data-row-url="@Url.Action("Details", new { id = user.UserID })" class="clickable-row">
				<td>
					@Html.DisplayFor(modelItem => user.CompleteName)
				</td>
				<td>
					@user.Email
				</td>
				<td>
					@Html.DisplayFor(modelItem => user.Role.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => user.Barcode)
				</td>
				<td class="text-center">
					@if (LanAdeptCore.Service.ReservationService.HasUserPlace(user))
					{
						@user.LastReservation.Place
					}
					else
					{
						<text> -- </text>
					}
				</td>
			</tr>

		}
	</tbody>
</table>

@if (Model.PageCount > 1)
{
	<br />
	@Html.PagedListPager(Model, page => Url.Action("Index",
				new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
}
